spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/hlrdb
    username: hlr_user
    password: hlr_password
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  flyway:
    enabled: true

server:
  port: 8080

app:
  cors:
    allowed-origin: http://localhost:5173
